<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="sopsoftConnectionString"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <!--<add name="conShopManage" connectionString="Data Source=\\Data\\sopsoft.mdb"
      providerName="Microsoft.Jet.OLEDB.4.0" />-->
    <add name="sopsoftConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Data\sopsoft.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <!-- 数据库名 -->
    <add key="DB.Name" value="\\Data\\sopsoft.mdb" />
    <!-- 数据库用户ID -->
    <add key="DB.Server.UserId" value="" />
    <!-- 数据库密码 -->
    <add key="DB.Server.Password" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>